# Configuration EmailJS
# Obtenez ces valeurs sur : https://www.emailjs.com/
VITE_EMAILJS_SERVICE_ID=service_sljxm0d
VITE_EMAILJS_TEMPLATE_ID=template_4d58y0w
VITE_EMAILJS_PUBLIC_KEY=GN44_DtT4neRstS0-

# Configuration du chemin de base (optionnel)
# VITE_BASE_PATH=/portfolio
